<div mat-dialog-title>
    <!--Para añadir o modificar tarjeta-->
    <h1>Formulario Tarjeta</h1>    
</div>
<form [formGroup]="tarjForm" (ngSubmit)="onFormSubmit()">    
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Tarjeta</mat-label>
                <input matInput type="text" placeholder="548904......1211" formControlName="tarjeta">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fecha Caducidad</mat-label>
                <input matInput type="text" placeholder="YYMM" formControlName="fechcad">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Pista 2 Tarjeta</mat-label>
                <input matInput type="text" placeholder="548904....1112D2012101999....." formControlName="pista2">
            </mat-form-field>
            <!--<mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>-->
        </div>

        <!--<div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>
        </div>-->

        <div class="row">
            <!--<input type="checkbox" class="form-check-input" >PIN
            ngModel name="{{exercise.id}}"  
            {{exercise.name}}-->
            <mat-checkbox formControlName="booleanpin">PIN</mat-checkbox>            
            <mat-checkbox formControlName="booleancvv">CVV</mat-checkbox>
            <mat-checkbox formControlName="booleancavv">CAVV</mat-checkbox>
            <mat-checkbox formControlName="booleancvn">CNV</mat-checkbox>
        </div>

        <!--<div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Education</mat-label>
                <mat-select formControlName="education">
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Ex. Google" formControlName="company">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label>
                <input matInput placeholder="Ex. 4" type="number" formControlName="experience">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Package</mat-label>
                <input matInput placeholder="Ex. 12" type="number" formControlName="package">
                <mat-hint>In rupees</mat-hint>
            </mat-form-field>
        </div>-->
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <!--<button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>-->
        <button mat-raised-button color="primary" type="submit">{{data ? 'Modificar': 'Guardar'}}</button>
    </div>
</form>